<div>

    <h3>Корзина</h3>
    <span ng-if="Cart.items.length == 0">Корзина пуста</span>
    <table class="table table-hover" cellpadding="0" cellspacing="0">
        <thead>
        <tr>
            <td>Название</td>
            <td>Количество</td>
            <td>Цена</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="oi in Cart.items">
            <td>{{oi.productTitle}}</td>
            <td>
                <button class="btn btn-success" ng-click="decrementItem(oi.productId)">-</button>
                {{oi.quantity}}
                <button class="btn btn-success" ng-click="addToCart(oi.productId)">+</button>
                <button class="btn btn-danger" ng-click="removeItem(oi.productId)">X</button>
            </td>
            <td>{{oi.quantity + ' x ' + oi.pricePerProduct + ' = ' + oi.price}}</td>
        </tr>
        <tr>
            <td>Итого</td>
            <td></td>
            <td>{{Cart.totalPrice}}</td>
        </tr>
        </tbody>
    </table>
    <button class="btn btn-danger" ng-click="clearCart()">Очистить корзину</button>

    <form novalidate ng-submit="createOrder()" ng-show="Cart.items.length > 0">
        <div class="form-group col-md-6">
            <label for="orderAddress">Адрес доставки</label>
            <input class="form-control" type="text" ng-model="ord.address" id="orderAddress">
        </div>
        <div>
            <button class="btn btn-primary" type="submit">Оформить заказ</button>
        </div>
    </form>

</div>
